
p Create a Trello board with the full conference schedule — for you and your teammates.
p Use it to plan your sessions; record notes, photos and links; share with your whole team!

p
  a(href="https://mgduk.github.io/conference-board/") Learn more
